.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product {
  flex: 1 0 21%;
  max-width: calc(25% - 10px);
  margin: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.productImage {
  text-align: center;
  padding: 10px;
}

.productImage img {
  width: 100%;
}
.productImage img:hover {
  cursor: pointer;
  filter: brightness(80%);
}

@media screen and (max-width: 768px) {
  .product {
    flex: 1 1 30%;
    max-width: calc(33% - 10px);
  }
}

@media screen and (max-width: 500px) {
  .product {
    flex: 1 1 45%;
    max-width: calc(50% - 10px);
  }
}
