.app {
  overflow-x: hidden;
  position: relative;
}

.navContainer {
  font-family: var(--title);
  font-size: 2.5rem;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar {
  background-color: var(--dark);
  color: var(--light);
  font-size: 2rem;
  position: fixed;
  width: 100%;
  z-index: 100;
  margin-bottom: 80px;
}

.navMenu {
  display: none;
  padding: 20px;
}

.navLink {
  display: inline-block;
  padding: 20px;
}

.navLink:hover {
  cursor: pointer;
  color: var(--lightBlue);
}

@media screen and (min-width: 1000px) {
  .navContainer {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  .navContainer {
    font-size: 3rem;
  }
  .navMenu {
    display: inline-block;
  }
  .navMenu:hover {
    display: inline-block;
    cursor: pointer;
    color: var(--lightBlue);
  }

  .navLinks > .navLink {
    border-top: 1px solid rgb(110, 110, 110);
    display: block;
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    text-align: center;
  }
  .navLinks {
    transform: translateX(100%);
    position: absolute;
    top: 78px;
    right: 0;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    z-index: 2;
    background-color: var(--dark);
  }

  .isOpen {
    transform: translateX(0%);
    transition: 0.5s ease-out;
  }
}

/* Layout home page */

.main {
  background-color: var(--light);
  min-height: 100vh;
}

.hero {
  font-size: 3rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1512509817826-2f35492fe934?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mjh8fHZpbnlsfGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=60');
  background-position: center;
  background-size: cover;
  min-height: 300px;
  height: 100vh;
  color: var(--light);
  position: relative;
}

.hero div {
  position: absolute;

  bottom: 10%;
  left: 15%;
  padding: 30px;
}

.title {
  font-size: 3.2rem;
  background-color: var(--dark);
  color: var(--lightBlue);
  text-align: center;
  padding: 30px;
}

@media screen and (max-width: 1000px) {
  .hero div {
    left: 0%;
  }
}
@media screen and (max-width: 768px) {
  .hero div {
    font-size: 2.8rem;
  }
}

.pagination {
  width: 100%;
  padding: 25px 50px;
  position: relative;
}

.prev {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.next {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -50%);
}

.pageButton button {
  padding: 5px 10px;
  font-size: 1.1rem;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
  background-color: var(--dark);
  color: white;
}

.pageButton button:hover {
  cursor: pointer;
  background-color: var(--lightBlue);
  color: white;
}

.pageNumber {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
}
